<h5>app-test5 [ property-binding ]    </h5>
<h5>A : <input  id={{name1}}  type="text"  />   </h5>
<h5>B : <input  [id]='name2'  type="text"    />    </h5>
<h5>C : <input  disabled={{isDisabled}}  type="text" />    </h5>
<h5>D : <input  [disabled]='isDisabled'  type="text" />    </h5>
<h5>E : <input  bind-disabled='isDisabled'  type="text"  />    </h5>
<h5>F : <input  disabled='true'  type="text"  />    </h5>
<h5>G : <input  disabled='false'  type="text"  />    </h5>
<h5>    </h5>
<h5>    </h5>
<h5>    </h5>
<h5>    </h5>
