
<link     rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
          crossorigin="anonymous">
<!-- <nav  class='navbar navbar-expand-sm navbar-dark bg-dark'  >
  <a  href="#"  class='navbar-barnd'>Angular2</a>
</nav> -->


<!-- <app-television-nov-one-eight-a></app-television-nov-one-eight-a> -->

<!-- <app-parent-nov-one-eight></app-parent-nov-one-eight> -->
<!-- <app-parent-nov-one-five></app-parent-nov-one-five> -->

<!-- <app-television></app-television> -->






<!-- <ul>
  <li><a routerLink=''>Home </a></li>
  <li><a routerLink='/depatments'>Departments </a></li>
  <li><a routerLink='/users'>Users </a></li>
  <li><a routerLink='/pagenotfound'>Default / Company </a></li>
</ul> -->

<!-- <app-colony-parent></app-colony-parent> -->

<!-- <app-my-colony></app-my-colony> -->
<!-- <app-my-colony></app-my-colony> -->

<!-- <app-my-house></app-my-house> -->


<!-- <app-test1></app-test1> -->
<app-test2></app-test2>

<!-- <app-test4></app-test4> -->
<!-- <app-test5></app-test5> -->
<!-- <app-test7></app-test7> -->
<!-- <app-test9></app-test9> -->
<!-- <app-test10></app-test10> -->
<!-- <app-test11></app-test11> -->
<!-- <app-test12></app-test12> -->
<!-- <app-test13></app-test13> -->
<!-- <app-test14></app-test14> -->

<!-- <app-test15 [inputa]=10 [inputb]=20 (sumEvent)="sumresult=$event"></app-test15>
  Sum is : {{sumresult}} -->

  
<router-outlet> </router-outlet>